[submodule "request"]
	path = request
	url = git@github.com:monako97/moneko-request.git
[submodule "mock"]
	path = mock
	url = git@github.com:monako97/moneko-mock.git
[submodule "postcss"]
	path = postcss
	url = git@github.com:monako97/moneko-postcss.git
[submodule "stylelint"]
	path = stylelint
	url = git@github.com:monako97/moneko-stylelint.git
[submodule "core"]
	path = core
	url = git@github.com:monako97/moneko-core.git
[submodule "cli"]
	path = cli
	url = git@github.com:monako97/moneko-cli.git
[submodule "eslint"]
	path = eslint
	url = git@github.com:monako97/eslint-config-neko.git
[submodule "common"]
	path = common
	url = git@github.com:monako97/moneko-common.git
